body {

  background-color: black;
}


.container {
   padding-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

 @font-face {
   font-family: "Marker";
   src: url("./fonts/Marker-Black.ttf");
 }


 input[type=text] {
     width: 50%;
     height: auto;
     text-align: center;
     display: inline;
     background-color: grey;
     border-radius: 1em;
     border-width: 0;
     font-size: 2em;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
 }

 input:focus,
select:focus,
textarea:focus,
button:focus {
    background-color: lightgrey;
    border-width: 2px;
    border-color: white;
    border-radius: 1em;
    outline: none;
}

.links, .input_container {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-top: 10px;
}

.export {
  border: 1px solid black;
  background-image: url("../cross_scratches.png");
}

.frame {

  border-top: 50px solid white;
  border-bottom: 0px solid white;
  border-left: 50px solid white;
  border-right: 50px solid white;
  height: 500px;
  width: 500px;
  display: flex;
   align-items: center;
   justify-content: center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.link {
  text-decoration: none;
  color: white;
  padding-top: 10px;
}


a {
    text-decoration: none;
    color: blue;
    font-family: "arial", Arial, Sans-serif;
}

p.left {
  font-size: 6em;
  color: black;
  font-family: Marker;
}

p.right {
  font-size: 6em;
  color: black;
  font-family: Marker;
}

.bottom-row {
  width: 500px;
  height: 200px;
  display: flex;
  background-color: white;
  align-items: center;
  top: -1;
  box-shadow: 0 0 0 0px white;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  text-align: center;
  border: 2px dashed gray;
  color: white;
  width: 500px;
  height: auto;
  background-color: black;
  border-radius: 1em;
  border-width: 1;
  border-radius: 1em;
  font-size: 2em;
  padding: 12px 20px;
  margin: 8px 0;
}

.download {
  text-align: center;
  border: 0px solid gray;
  color: black;
  width: 50%;
  height: auto;
  background-color: orange;
  border-radius: 1em;
  border-width: 1;
  border-radius: 1em;
  font-size: 2em;
  padding: 12px 20px;
  margin: 8px 0;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.logo {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.flexbox { display: flex; padding-top: 20px; justify-content: center; flex-direction: column; align-items: center}
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
